<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.WISExpendi.wiselab.commonMapper">

    <insert id="insertRecipt" parameterType="com.wiselab.WISExpendi.DTO.ReceiptData">
        INSERT INTO RECEIPT
        (
            prch_date,
            abstr,
            place_pymnt,
            bdgt_amnt,
            pymnt_amnt,
            prjt_nm,
            rmks,
            reg_id
        ) VALUES (
            #{date}
          , #{abs}
          , #{expendDepartment}
          , #{budgetAmt}
          , #{paymentAmt}
          , #{etc}
          , #{projectNm}
          , #{regID}
        )
    </insert>

    <update id="updateReceipt" parameterType="java.util.Map">
        UPDATE RECEIPT
        SET
            prch_date = #{receiptData.date},
            abstr = #{receiptData.abs},
            place_pymnt = #{receiptData.expendDepartment},
            bdgt_amnt = #{receiptData.budgetAmt},
            pymnt_amnt = #{receiptData.paymentAmt},
            prjt_nm = #{receiptData.projectNm},
            rmks = #{receiptData.etc},
            reg_id = #{receiptData.regID}
        WHERE rcpt_no = #{id}
    </update>

    <delete id="deleteReceipt" parameterType="int">
        DELETE FROM RECEIPT
        WHERE rcpt_no = #{rcptNo}
    </delete>

    <select id="findByRcptNo" parameterType="int" resultType="com.wiselab.WISExpendi.DTO.ReceiptData">
        SELECT
            prch_date AS date,
            abstr AS abs,
            place_pymnt AS expendDepartment,
            bdgt_amnt AS budgetAmt,
            pymnt_amnt AS paymentAmt,
            prjt_nm AS projectNm,
            rmks AS etc,
            reg_id AS regID
        FROM  RECEIPT
        WHERE rcpt_no = #{rcptNo}
    </select>

    <select id="selectReciptsData" parameterType="String" resultType="com.wiselab.WISExpendi.DTO.YearReceipts">
        SELECT
            YEAR(prch_date) AS year,
            MONTH(prch_date) AS month,
            COUNT(*) AS count
        FROM RECEIPT
        WHERE reg_id = #{uuid}
        GROUP BY
            YEAR(prch_date),
            MONTH(prch_date)
        ORDER BY
            year DESC,
            month DESC;
    </select>

    <select id="selectMonthReciptsData" parameterType="Map" resultType="com.wiselab.WISExpendi.DTO.ReceiptData">
        SELECT
            prch_date AS date,
            abstr AS abs,
            place_pymnt AS expendDepartment,
            bdgt_amnt AS budgetAmt,
            pymnt_amnt AS paymentAmt,
            prjt_nm AS projectNm,
            rmks AS etc,
            reg_id AS regID
        FROM  RECEIPT
        WHERE reg_id = #{uuid}
          AND prch_date BETWEEN #{startOfMonth} AND #{endOfMonth};
    </select>


</mapper>