<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.WISExpendi.wiselab.commonMapper">

    <insert id="insertRecipt" parameterType="com.wiselab.WISExpendi.DTO.ReceiptData">
        INSERT INTO RECEIPT
        (
            prchDate,
            abstr,
            placePymnt,
            bdgtAmnt,
            pymntAmnt,
            prjtNm,
            rmks,
            regID
        ) VALUES (
            #{date}
          , #{abs}
          , #{expendDepartment}
          , #{budgetAmt}
          , #{paymentAmt}
          , #{etc}
          , #{projectNm}
          , #{regID}
        )
    </insert>

    <update id="updateReceipt" parameterType="java.util.Map">
        UPDATE RECEIPT
            SET
            prchDate = #{receiptData.date},
            abstr = #{receiptData.abs},
            placePymnt = #{receiptData.expendDepartment},
            bdgtAmnt = #{receiptData.budgetAmt},
            pymntAmnt = #{receiptData.paymentAmt},
            prjtNm = #{receiptData.projectNm},
            rmks = #{receiptData.etc},
            regID = #{receiptData.regID}
        WHERE rcptNo = #{id}
    </update>

    <delete id="deleteReceipt" parameterType="int">
        DELETE FROM RECEIPT
        WHERE rcptNo = #{rcptNo}
    </delete>

    <select id="findByRcptNo" parameterType="int" resultType="com.wiselab.WISExpendi.DTO.ReceiptData">
        SELECT
            prchDate AS date,
            abstr AS abs,
            placePymnt AS expendDepartment,
            bdgtAmnt AS budgetAmt,
            pymntAmnt AS paymentAmt,
            prjtNm AS projectNm,
            rmks AS etc,
            regID AS regID
        FROM  RECEIPT
        WHERE rcptNo = #{rcptNo}
    </select>

    <select id="selectReciptsData" parameterType="String" resultType="com.wiselab.WISExpendi.DTO.YearReceipts">
        SELECT
            YEAR(prchDate) AS year,
            MONTH(prchDate) AS month,
            COUNT(*) AS count
        FROM RECEIPT
        WHERE regID = #{uuid}
        GROUP BY
            YEAR(prchDate),
            MONTH(prchDate)
        ORDER BY
            year DESC,
            month DESC;
    </select>

    <select id="selectMonthReciptsData" parameterType="Map" resultType="com.wiselab.WISExpendi.DTO.ReceiptData">
        SELECT
            prchDate AS date,
            abstr AS abs,
            placePymnt AS expendDepartment,
            bdgtAmnt AS budgetAmt,
            pymntAmnt AS paymentAmt,
            prjtNm AS projectNm,
            rmks AS etc,
            regID AS regID
        FROM  RECEIPT
        WHERE regID = #{uuid}
          AND prchDate BETWEEN #{startOfMonth} AND #{endOfMonth};
    </select>


</mapper>